<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>

   

    <div class="header">
       
        <img src="petAdoption_banner_v4.jpg" alt="pets" style="width:100%;">
       
    </div>
   
    <div class="navbar">
        <a href="#">Search Your Location</a>
        <a href="#">Register</a>
        <a href="#">Take our Questionnaire</a>
        <a href="#">Donate</a>
        <a href="#">Learn More!</a>
        <a href="#" class="right">Help</a>
    </div>

    <section class = "pet">
        <h2 class = "title"> Adopt a Pet Today</h2>
        <button class = "pre-btn"><img src = "arrow.png" alt = ""></button>
        <button class = "next-btn"><img src = "arrow.png" alt = ""></button>
        <div class = "pet_box">
            <div class = "pet_card">
                <div class = "pet_image">
                    <img src = "cat_sprinkles.jpg" class = "pet_thumb" alt = "">

                </div>
                <div class = "pet_info">
                    <h3 class = "pet_name">Sprinkles</h3>
                    <p class = "short_description"> </p>
                </div>
            </div>
        </div>

        </div>
    </section>



</body>
</html>

