<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>

   

    <div class="header">
       
        <img src="petAdoption_banner_v4.jpg" alt="pets" style="width:100%;">
       
    </div>
   
    <div class="navbar">
        <a href="#">Search Your Location</a>
        <a href="#">Register</a>
        <a href="#">Take our Questionnaire</a>
        <a href="#">Donate</a>
        <a href="#">Learn More!</a>
        <a href="#" class="right">Help</a>
    </div>


    <div class="row">
        <div class="side">...</div>
        <div class="main">...</div>
    </div>


</body>
</html>

